{% include 'home/index.html.twig' %}

{% block body %}
   {% for etablissement in etablissements %}

  
<div class="card mb-3">
  <img src="/images/etablissement1.jpeg" class="rounded mx-auto d-block" alt="..." height="300px" width="600px">
  <div class="card-body ">
    <h5 class="card-title text-center">{{etablissement.nom}}</h5>
     <p class="card-text text-center">{{etablissement.adresse}}, {{etablissement.ville}}</p>
    <p class="card-text text-center">{{etablissement.description}}</p>
    {% for suite in etablissement.suites %}
    <a href="/suites/{{suite.id}}" class="btn btn-outline-primary">Suite {{suite.titre}}</a>
    {% endfor %}
    <p class="card-text text-center"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
    {% endfor %}
    
{% endblock %}

